/* /* form[method='POST']{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid black 2px;
  width: 30rem;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  background-color: teal;
  border-radius: 10px;
} */

/* label[for='user']{
  margin-bottom: 10px;
  font-size: 20px;
}
label[for='pass']{
  margin-bottom: 10px;
  font-size: 20px;
}

input[type='text']{
  width: 50%;
  border: solid darkgreen 1px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
input[type='password']{
  width: 50%;
  border: solid darkgreen 1px;
  border-radius: 5px;
  padding: 10px;
}
 */
