{% extends 'base.html' %}

{% block content %}

<p class='text-center text-primary text-xl-center'>Add Record</p>
<div class='d-flex align-items-center justify-content-center mt-3 mb-2'>

  <form method="POST" action="{% url 'add' %}">
    {% csrf_token %}
    <label for="FormControl" class="form-label">{{ form.as_p }}</label>
    <div class='d-flex gap-2 justify-content-center'>
      <button class="btn btn-dark btn-lg p-1 col-2">Add</button>
      <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
    <div>
  </form>
</div>

{% endblock %}