{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-5">
  <div class="card w-50">
    <div class="card-header"><strong>{{ record.first_name }} {{ record.last_name }}</strong></div>
      <div class="card-body">
        <div style="height: 200px;">
          <div class="d-block">
            <strong>Email: </strong>{{ record.email }}
          </div>
          <div class="d-block">
            <strong>Address: </strong>{{ record.Address}}
          </div>
          <div class="d-block">
            <strong>City: </strong>{{ record.city }}
          </div>
          <div class="d-block">
            <strong>State: </strong>{{ record.state}}
          </div>
          <div class="d-block">
            <strong>Zipcode: </strong>{{ record.zipcode }}
          </div>
          <div class="d-block">
            <strong>Id: </strong>{{ record.id }}
          </div>
        </div> 
      </div>
    </div> 
  </div>
</div>

<div class="container d-flex justify-content-center align-items-center mt-5">
  <a href="{% url 'home' %}" class='btn btn-secondary me-1'>Back</a>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Delete
  </button>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DELETE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'delete' record.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}