{% extends 'base.html' %}

{% block content %}

<h1 class='text-center mt-5'>Register</h1>
<div class='d-flex align-items-center justify-content-center' style="height: 600px;">
<form class="form-control form-control-lg d-flex align-items-center justify-content-center flex-column w-50" method="POST">
    {% if form.errors %}
			<div class="col-12 mb-3 text-warning">
			  <p>Your Form Has Errors</p>
			  {% for field in form %}
			  	{% if field.errors %}
			  		{{ field.errors }}
			  	{% endif %}
			  {% endfor %}
			</div>
		{% endif %}

		<label for="exampleFormControlInput1" class="form-label mt-2">{{ form.as_p }}</label>
    {% comment %} <input type="form" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="name@example.com"> {% endcomment %}
		{% comment %} <label for="exampleFormControlInput1" class="form-label">{{ form.username }}</label>
    <input type="username" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="name@example.com">
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.password1 }}
    {{ form.password2 }} {% endcomment %}

    {% csrf_token %} 

    <button class="btn btn-dark">Register</button>
</form>
</div>

{% endblock %}
